<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tang.dao.UserMapper">

    <insert id="addUser">
        insert into t_user (loginName,password,realName,idCard,phone,email,status,createDate,salt)
        values (#{loginName},#{password},#{realName},#{idCard},#{phone},#{email},#{status},#{createDate},#{salt})
    </insert>

    <select id="findUserByName" resultType="User">
        select * from t_user where loginName = #{loginName}
    </select>

</mapper>